numpy
opencv-contrib-python
opencv-python
jupyter
matplotlib
pytesseract
opencv-python-headless
nbconvert
gputil
pandas
plotly
seaborn
scikit-learn
tensorboard
pydot
torch
torchvision
transformers
pdf2image
tensorflow